.section-hero {
    height: 90vh;
    position: relative;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-bg{
    z-index: -2;
}

.overlay-bg{
    background-color: blue;
    opacity: .5;
}